.NavBarContainer {
  background-color: #2c0e3a;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  height: 60px;
  align-items: center;
}
.logoImg {
  width: 125px;
  height: 35px;
}
.scorePara {
  color: #ffffff;
  margin: 8px;
}
.spanElement {
  color: #fec653;
  margin: 4px;
  font-weight: 500;
  font-size: 25px;
}
.scoreContainer {
  display: flex;
  align-items: center;
}
.timerContainer {
  display: flex;
  align-items: center;
}
.timerImg {
  width: 30px;
  height: 30px;
  margin: 4px;
}
.mainContainer {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
  height: 100%;
}
.insideContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainImg {
  width: 45%;
  height: 280px;
  margin-top: 45px;
  border-radius: 8px;
}
.listItem {
  list-style-type: none;
}
.tabButton {
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: 0 none;
  color: #ffffff;
  font-size: 25px;
  margin: 15px;
  padding: 8px;
}
.active {
  border-bottom: 4px solid #fec653;
  color: #fec653;
}
.unordered {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.unorderedImages {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 45%;
  flex-wrap: wrap;
}
.resultContainer {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png');
  display: flex;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 750px;
  width: 50%;
}
.result {
  padding: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.trophyImg {
  width: 65%;
  height: 300px;
  margin-top: 155px;
}
.scorePara {
  color: #ffffff;
  font-size: 25px;
  margin: 8px;
}
.score {
  margin: 8px;
  font-size: 40px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 20px;
}
.playButton {
  color: #ffffff;
  background-color: transparent;
  border: 0 none;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  border-radius: 8px;
}
.buttonContainer {
  background-color: #cf60c8;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 145px;
  height: 45px;
  border-radius: 8px;
}
.resetImg {
  width: 25px;
  height: 25px;
}
